body {
    background-image: url(space_bg.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    border-bottom: 2px solid white;
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    width: 550px;
}